{% extends 'base.html' %} 
{% block title %} About {% endblock title %} 


{% block header %} {% include 'header.html' %} {% endblock header %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Velit quasi ipsa sit voluptatum accusantium necessitatibus 
                        molestiae quas delectus provident, fuga vel doloremque animi c
                        orporis temporibus? Dolores veritatis aperiam adipisci doloremque, 
                        expedita accusantium distinctio magni deserunt cum, deleniti iste, 
                        quis ipsam quod perferendis fugit. Ex error nulla quaerat laboriosam eum quasi?</p>
                </div>

            </div>
            <div class="image-section">
                <img src="{{ray.backpix.url}}" alt="">

            </div>

        </div>
        
    </div>

{% endblock content %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}