<div class="container contact">

    <section>

    <h1 class="heading"> <span>contact</span> us </h1>

  
    <div class="row">

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.1401565172255!2d3.59940047421813!3d6.503935893488329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bfbb24d79bf2b%3A0xbb8aea64e5eafeb3!2sRockstone%20Ville%20Estate%2C%20Badore!5e0!3m2!1sen!2sbj!4v1687271676327!5m2!1sen!2sbj" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" data-aos="flip-left"></iframe>

        <form action="{% url 'home' %}" method="POST" data-aos="flip-right">
            {% csrf_token %}
           <h3>get in touch</h3>
           <input type="text" name="name" required maxlength="50" placeholder="enter your name" class="box">
           <input type="email" name="email" required maxlength="50" placeholder="enter your email" class="box">
           <input type="number" name="phone" required maxlength="10" min="0" max="9999999999" placeholder="enter your phone no" class="box">
           <textarea name="message" class="box" required maxlength="1000" cols="30" rows="10"></textarea>
           <input type="submit" value="send message" name="send" class="btn">
        </form>

    </div>

    </section>
</div>
