{% extends 'base.html' %} 
{% block title %} Home Page {% endblock title %}


{% block header %} {% include 'header.html' %} {% endblock header %}

{% block banner  %} {% include 'banner.html' %} {% endblock banner %}

{% block about_front %} {% include 'about_front.html' %} {% endblock about_front %}

{% block review %} {% include 'review.html' %} {% endblock review %}

{% block contact %} {% include 'contact.html' %} {% endblock contact %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}