<section class="review" id="review">
    <h1 class="heading"> customer's <span>reviews</span></h1>

    <div class="box-container">

        <div class="box">
            <h1 class="quotes">"</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Magni blanditiis eligendi quo molestias odit dicta animi officia, 
                debitis suscipit non.</p>
            <h3>Quin Doe</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <h1 class="quotes">"</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Magni blanditiis eligendi quo molestias odit dicta animi officia, 
                debitis suscipit non.</p>
            <h3>Quin Doe</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <h1 class="quotes">"</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Magni blanditiis eligendi quo molestias odit dicta animi officia, 
                debitis suscipit non.</p>
            <h3>Quin Doe</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>